/* #img {
  display: block;
  margin: auto;
  height: 128px;
  width: 128px;
  padding: 2rem;
}

#canvas {
  display: block;
  margin: 2rem auto;
  width: 540px;
  height: 540px;
} */

#newItem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 50px;
}

#submitNewItem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* margin-bottom: 50px; */
}

#pageTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* margin-bottom: 50px; */
}

